/*{
    margin: 0 auto;
    padding: 0;
} */

body{
    height: 100vh;
    background-image: url("./Design/background.png");
    background-size: 67%;
    background-repeat: no-repeat;
    background-color: #cb000a;   
    background-position:center;  
}

.container{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.Logo {
    background-image: url("./Design/memory\ dex\ pokemon.png");
    padding: 10%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 40%;
    top: 15%;    
}

.Pikachu {
    background-image: url("./Design/pikachu.gif");
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 44%;
    top: 40%;  
}

.start {
    background-image: url("./Design/start.png");
    background-size: 150px;
    position: absolute;
    left: 44%;
    bottom: 32%;
    width: 150px;
    height: 60px;
}
.containerPlay {
    background-image: url("./Design/fondo\ pantalla\ 2.png");
    background-repeat: no-repeat;
    padding: 25%;
    background-position-x: center;
    background-position-y: center;
    transition-property: initial;
    transition-duration: 1s;
    opacity: 0.25;
    background-size: 5%;
}
.containerPlay:hover {
    transition-property: initial;
    transition-duration: 2s;
    opacity: 0.985;
    background-size: 80%;

}

