*{
    margin: 0 ;
    padding: 0;
} 

body{
    height: 100vh;
    background-image: url("./Design/background.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #cb000a;   
    background-position:center;  
    overflow: hidden;
    /*cursor: url(./Design/pokebola.png),auto;*/
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.Logo {
    background-image: url("./Design/memory\ dex\ pokemon.png");
    padding: 10%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 40%;
    top: 15%;    
}

.Pikachu {
    background-image: url("./Design/pikachu.gif");
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 44%;
    top: 40%;  
}

.start {
    background-image: url("./Design/start.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 44%;
    bottom: 32%;
    width: 12%;
    height: 10%;
}
.containerPlay {
    background-color: #d5e9f5;
    border: 10px solid black;
    border-radius: 50px;
    width: 80%;
    height: 86%;
    padding: 2%;
    background-position: center;
    position:absolute;
    top:1.5%;
    left:8%;
    cursor: pointer;
}

.containerGrid{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 2%;
    position: absolute;
    top: 0.5%;
    left: 1%;
    
}
.cardShown{
    width: 16%;
    height: 0%;
    padding: 0%;
    margin: 0 0 2% 0;
    position: relative;
    perspective: 1000px;

}
.cardBack, .frontCard {
    width: 60%; 
    height: 30%; 
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    border: 4px solid #000092;
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
.cardBack:hover{
    transform: scale(.97);
    transition: transform 5s;
    transition-duration: 1s;
    box-shadow: 0 0 30px 20px rgb(255, 255, 255);
}
<<<<<<< HEAD
.cardBack:active{
    transform: rotateY(180deg);
}
=======

>>>>>>> 869a66090810f154eadbe34623693146edd23535
.targetBack{
    width: 60%; 
    height: 30%; 
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    border: 4px solid #000092;
    transition: transform 1s;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}




@media only screen and (max-width: 640px) {
    body{
        background-color: #cb000a;
    }
    .Logo{
        position: absolute;
        top: 20%;
    }
    .Pikachu{
        position: absolute;
        top: 40%;
    }

}

/* Iphone X hacia delante
@media only screen and (min-device-width: 375px) and (max-device-width: 480px){ 

    body{
        background-color: #585858;
        background-image: url('./Design/backgroundMobile.png');
        background-size: 106%;
    }

    .Logo{
        padding: 28%;
        position:absolute;
        left: 22%;
        top: 36%;
    }

    .Pikachu{
        padding: 10%;
        position:absolute;
        top:51%;
        left: 40%;
    }

    .start{
        padding: 21%;
        position: absolute;
        top: 60%;
        left: 14%;
    }
} */

/*Ipad */
@media only screen and (min-width:768px) and (max-width: 800px) { 

    body{
    background-color: #FE0065;
    background-image: url('./Design/backgroundMobile.png');
    background-size: 94%;
    border: 4px solid white;
    
        }

    .Logo{
        padding: 24%;
        position:absolute;
        left: 26%;
        top: 31%;
    }

    .Pikachu{
        padding: 10%;
        position:absolute;
        top:51%;
        left: 40%;
    }

    .start{
        padding: 21%;
        position: absolute;
        top: 80%;
        left: 14%;
    }
}

/* iPhone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px){ 

    body{
        background-color: #585858;
        background-image: url('./Design/backgroundMobile.png');
        background-size: 105%;
    }

    .Logo{
        padding: 26%;
        position:absolute;
        left: 24%;
        top: 36%;
    }

    .Pikachu{
        padding: 10%;
        position:absolute;
        top:51%;
        left: 40%;
    }

    .start{
        padding: 21%;
        position: absolute;
        top: 75%;
        left: 14%;
    }
 }
