*{
    margin: 0 ;
    padding: 0;
} 

body{
    height: 100vh;
    background-image: url("./Design/background.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-color: #cb000a;   
    background-position:center;  
    overflow: hidden;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.Logo {
    background-image: url("./Design/memory\ dex\ pokemon.png");
    padding: 10%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 40%;
    top: 15%;    
}

.Pikachu {
    background-image: url("./Design/pikachu.gif");
    padding: 5%;
    background-size: contain;
    background-repeat: no-repeat;  
    position:absolute;
    left: 44%;
    top: 40%;  
}

.start {
    background-image: url("./Design/start.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 44%;
    bottom: 32%;
    width: 12%;
    height: 10%;
}
.containerPlay {
    background-color: #d5e9f5;
    border: 10px solid black;
    border-radius: 50px;
    width: 80%;
    height: 86%;
    padding: 2%;
    background-position: center;
    position:absolute;
    top:1.5%;
    left:8%;
}
/*.containerPlay:hover {
    transition: initial;
    transition-duration: 3s;
    background-size: 82%;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
   /* background-position: center;
    padding-left: 6%;
    margin-top: 1%;
    background-position-x: 40%;
    background-position-y: 60%;
    position: absolute;
    width: 70%;
    height: 90%;
    place-content:initial;
    right: 10%;
    left: 10%;
    border: 10px solid black;
}*/
.containerGrid{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    padding: 2%;
}
.cardShown{
    width: 16%;
    height: 0%;
    padding: 0%;
    margin: 0 0 2% 0;

}
.cardBack {
    width: 60%; 
    height: 30%; 
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
    border-radius: 10%;
    border: 4px solid #000092;
}

.cardBack:active{
    transform: scale(.97);
    transition: transform .2s;
    scale: (1);
    box-shadow: 0 0 40px rgba(248, 248, 248, 0.7);
}

.flipCard{
    transform: rotateY(180deg);
}